<section class="about  fade-in">
  <div class="container">
    <h1>About me</h1>
    <div class="about-content">
      <!-- <div class="about-image">
        <img src="assets/miafoto.jpeg" alt="Luigi Margiotta" />
      </div> -->
      <div class="about-text">
        <p>
          Hi, I’m Luigi Margiotta, and while talking about myself isn’t my cup of tea, I believe it's worth the effort.<br>
          Video games have been a lifelong passion, fueling my drive to enter the game industry.
        </p>
        <p>
          Through my career, I’ve gained invaluable insights into teamwork, managing pressure, and learning from everyone I've met along the way.<br> 
          Every project has not only sharpened my skills but also shaped who I am, pushing me to grow and make the most of every experience.<br><br>
          I owe much of my growth to the incredible people I’ve had the privilege to work with.
        </p>
      </div>
    </div>
    <div class="skills">
      <h2>Expertise</h2>
      <div class="skills-list">
        <div class="skill-item">
          <fa-icon [icon]="faChessBoard"></fa-icon>
          <h3>Game Design</h3>
          <p>
            Focused on delivering player-centered experiences, optimizing quality within available time and resources.
          </p>
        </div>
        <div class="skill-item">
          <fa-icon [icon]="faList"></fa-icon>
          <h3>Application Management</h3>
          <p>
            My work experience has given me a priority-driven approach and a solid understanding of the software lifecycle.
          </p>
        </div>
        <div class="skill-item">
          <fa-icon [icon]="faPaintBrush"></fa-icon>
          <h3>Tech Skills</h3>
          <p>
            Confident in using Unity and Unreal Engine for game development. Experience with Jira, skilled in drafting, managing, and maintaining technical documentation.
          </p>
        </div>
      </div>
    </div>
    <div class="timeline">
      <h2>Education and work experience</h2>
      <div class="timeline-events">
        <div class="timeline-event">
          <span class="timeline-date">2022 - 2024</span>
          <h3>Digital Bros Game Academy, Milano</h3>
          <p>
            During my two years in academy, I gained familiarity with the software development cycle in video games, from pre-production to delivering a product that met project requirements.<br>
            Collaborating with peers allowed me to expand my expertise and approach to game design.
          </p>
        </div>
        <div class="timeline-event">
          <span class="timeline-date">2018 - 2021</span>
          <h3>
            Application Management and Maintenance at Auriga s.p.a. for Nexi,
            Milano
          </h3>
          <ul>
            <li>
              Report and incident management, metrics management and Service
              Level Agreement
            </li>
            <li>
              Sofware release life cycle: BRD, planning, support for application
              updates and monitoring
            </li>
          </ul>
        </div>
        <div class="timeline-event">
          <span class="timeline-date">2017 - 2018</span>
          <h3>IT Consulting at Auriga s.p.a. for Nexi, Milano</h3>
          <ul>
            <li>
              Testing, deployment and maintenance of security tools on ATM
            </li>
            <li>
              Development of .Net (C++) agent for Service Provider XFS on ATM
              and CSA
            </li>
          </ul>
        </div>
        <div class="timeline-event">
          <span class="timeline-date">2016 - 2017</span>
          <h3>Full Stack Developer at Beije Consulting S.r.l., Lissone</h3>
          <p>Web application development in banking:</p>
          <ul>
            <li>Asset manager</li>
            <li>Welcome kiosk</li>
            <li>Queue management</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
