<section class="about  fade-in">
  <div class="container">
    <h1>About me</h1>
    <div class="about-content">
      <div class="about-image">
        <img src="assets/tuafoto.jpg" alt="Luigi Margiotta" />
      </div>
      <div class="about-text">
        <p>
          I'm Luigi Margiotta, BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA
          BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA
          BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA.
        </p>
        <p>
          Sono figo sono gigio sono figo sono gigio sono figo sono gigio sono
          figo sono gigio sono figo sono gigio sono figo sono gigio sono figo
          sono gigio sono figo sono gigio sono figo sono gigio sono.
        </p>
        <!-- Aggiungi altre informazioni, come formazione, esperienze, ecc. -->
      </div>
    </div>
    <!-- Dopo la sezione about-content -->
    <div class="skills">
      <h2>Skills</h2>
      <div class="skills-list">
        <div class="skill-item">
          <fa-icon [icon]="faGamepad"></fa-icon>
          <h3>Game Design</h3>
          <p>
            During my two years at the academy I actively participated in
            various projects, taking on multiple role.
          </p>
        </div>
        <div class="skill-item">
          <fa-icon [icon]="faCode"></fa-icon>
          <h3>Technical skills</h3>
          <p>Drafting, management and maintenance.</p>
        </div>
        <div class="skill-item">
          <fa-icon [icon]="faPaintBrush"></fa-icon>
          <h3>Boh direction?</h3>
          <p>Worldbuilding, lore, quests, tuning, UI, testing.</p>
        </div>
        <!-- Aggiungi altre competenze se desideri -->
      </div>
    </div>
    <!-- Dopo la sezione delle competenze -->
    <div class="timeline">
      <h2>Education and work experience</h2>
      <div class="timeline-events">
        <div class="timeline-event">
          <span class="timeline-date">2022 - 2024</span>
          <h3>Digital Bros Game Academy, Milano</h3>
          <p>Two years at the academy.</p>
        </div>
        <div class="timeline-event">
          <span class="timeline-date">2018 - 2021</span>
          <h3>
            Application Management and Maintenance at Auriga s.p.a. for Nexi,
            Milano
          </h3>
          <ul>
            <li>
              Report and incident management, metrics management and Service
              Level Agreement
            </li>
            <li>
              Sofware release life cycle: BRD, planning, support for application
              updates and monitoring
            </li>
          </ul>
        </div>
        <div class="timeline-event">
          <span class="timeline-date">2017 - 2021</span>
          <h3>IT Consulting at Auriga s.p.a. for Nexi, Milano</h3>
          <ul>
            <li>
              Testing, deployment and maintenance of security tools on ATM
            </li>
            <li>
              Development of .Net (C++) agent for Service Provider XFS on ATM
              and CSA
            </li>
          </ul>
        </div>
        <div class="timeline-event">
          <span class="timeline-date">2016 - 2017</span>
          <h3>Full Stack Developer at Beije Consulting S.r.l., Lissone</h3>
          <p>Web application development in banking:</p>
          <ul>
            <li>Asset manager</li>
            <li>Welcome kiosk</li>
            <li>Queue management</li>
          </ul>
        </div>
        <!-- Aggiungi altre esperienze o formazione -->
      </div>
    </div>
  </div>
</section>
