<section class="home fade-in">
    <div class="container">
        <h1 class="home-title">Hi, I'm Luigi Margiotta</h1>
        <p class="home-subtitle">Game Designer & Developer</p>
        <p class="home-bio">
            BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA 
        </p>
            <a routerLink="/projects" class="btn">Check out my projects</a>
        </div>
        <div class="skills">
            <h2>Main Skills</h2>
        <div class="skills-list">
            <div class="skill-item">
                <i class="fas fa-gamepad"></i>
                <p>Game Design</p>
            </div>
            <div class="skill-item">
                <i class="fas fa-code"></i>
                <p>Son figo</p>
            </div>
            <div class="skill-item">
                <i class="fas fa-pencil-ruler"></i>
                <p>Son Gigio</p>
            </div>
        </div>
    </div>
</section>
  