<section class="home">
    <div class="container">
        <h1 class="home-title">Ciao, sono Luigi Margiotta</h1>
        <p class="home-subtitle">Game Designer & Developer</p>
        <p class="home-bio">
            BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA 
        </p>
            <a routerLink="/projects" class="btn">Scopri i miei progetti</a>
        </div>
        <div class="skills">
            <h2>Competenze Principali</h2>
        <div class="skills-list">
            <div class="skill-item">
                <i class="fas fa-gamepad"></i>
                <p>Game Design</p>
            </div>
            <div class="skill-item">
                <i class="fas fa-code"></i>
                <p>Skill tecniche</p>
            </div>
            <div class="skill-item">
                <i class="fas fa-pencil-ruler"></i>
                <p>UI</p>
            </div>
        </div>
    </div>
</section>
  