<section class="home fade-in">
    <div class="container">
        <h1 class="home-title">Hi, I'm Luigi Margiotta</h1>
        <p class="home-subtitle">Game Designer & Developer</p>
        <p class="home-bio">
            Lifelong video game enthusiast.<br>
            Bioshock devotee.<br>
            I aspire to craft playful experiences to spark emotions.
        </p>
            <a routerLink="/projects" class="btn">Check out my projects</a>
        </div>
        <div class="skills">
            <h2>Main Skills</h2>
        <div class="skills-list">
            <div class="skill-item">
                <i class="fas fa-gamepad"></i>
                <p>Gameplay Design</p>
            </div>
            <div class="skill-item">
                <i class="fas fa-code"></i>
                <p>IT background</p>
            </div>
            <div class="skill-item">
                <i class="fas fa-asterisk"></i>
                <p>Attention to detail</p>
            </div>
        </div>
    </div>
</section>
  