<section class="project-detail">
    <div class="container">
      <h1>Darts Town</h1>
      <!-- Media -->
      <div class="project-media">
        <img src="assets/projects/02_DT/Cover_Art/Team03_DartsTown_GameIdentity_5333x3000.png" alt="Darts Town Cover" />
      </div>
      <!-- Descrizione -->
      <div class="project-description">
          <p>
            Step into the shoes of an ordinary employee in Darts Town who dreams of breaking free from their monotonous job. 
            Guided by your grandma, a former professional darts player, embark on an exciting journey to become the town's best darts player. 
            Compete in various stages, each with unique environments, targets, rewards, and rules. 
            Customize your darts with unique aesthetics unlocked through a loot box system, adding a personal touch to your gameplay experience.
          </p>
        <p><strong>Platform:</strong> Mobile</p>
        <p><strong>Development Platform:</strong> Unity</p>
        <p><strong>Development Duration:</strong> April 2023 - July 2023</p>
        <h3>My Responsibilities:</h3>
        <ul>
          <li>Gameplay Structure</li>
          <li>Progression system</li>
        </ul>
        <!-- <div class="video-container aspect-ratio-9-16">
          <video controls poster="assets/projects/02_DT/Cover_Art/Team03_DartsTown_GameIdentity_5333x3000.png" class="responsive-video">
            <source src="assets/projects/02_DT/Team03_DartsTown_Trailer.mov" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div> -->
        <div class="project-media">
          <iframe
            src="https://www.youtube.com/embed/B1G--beQVgQ"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            class="responsive-video"
          >
          </iframe>
        </div>
        <h2>Additional Information</h2>
        <h3>Initial Concept</h3>
        <p>
            In this project, our goal was to develop a mobile PvP sports game. As the Lead Designer, I took responsibility for overseeing and contributing to multiple aspects of the project. 
            I was directly involved in discussions surrounding UI/UX design, sound design, and the overall production quality, including the review of key production milestones. 
            This role required me to collaborate across disciplines and ensure that every component aligned with the overall vision of the game.
        </p>
        <p>   
            After an initial brainstorming phase, we chose darts as the sport for our game. 
            This decision guided the development of the game's progression, where we drew free inspiration from Miniclip's mobile games. 
            Given our limited resources, we placed a strong emphasis on the artistic side of the game, 
            dedicating significant attention to the design of the map/hub and the selection of different levels and locations that make up the player experience.
        </p>
        <h3>Gameplay</h3>
        <div class="contents-content">
            <div class="contents-text">
                <h4>Darts Game</h4>
                <p>
                    In Darts Town, each throw has three phases: aiming, throwing, and flight. 
                    Players use a hidden virtual joystick to aim, with precision upgrades affecting crosshair size. 
                    Swiping controls the throw, and upgrades adjust sway and sensitivity. 
                    Points are awarded based on where the dart lands, with timing and precision playing a critical role as locations impose time constraints.
                </p>
            </div>
            <div class="contents-image">
                <img src="assets/projects/02_DT/Screenshot/Screen3.png" alt="Darts" />
            </div>
        </div>
        <div class="contents-content">
            <div class="contents-text">
                <h4>Customization</h4>
                <p>
                    In Darts Town, each throw has three phases: aiming, throwing, and flight. 
                    Players use a hidden virtual joystick to aim, with precision upgrades affecting crosshair size. 
                    Swiping controls the throw, and upgrades adjust sway and sensitivity. 
                    Points are awarded based on where the dart lands, with timing and precision playing a critical role as locations impose time constraints.
                </p>
            </div>
            <div class="contents-image">
                <img src="assets/projects/02_DT/Screenshot/Screen4.png" alt="Customization" />
            </div>
        </div>
        <div class="contents-content">
            <div class="contents-text">
                <h4>Progression and Locations</h4>
                <p>
                    Progression in Darts Town is linked to unlocking new locations by winning matches and earning currency. 
                    Starting at Grandma's house, players unlock progressively harder venues like the Pub, Office, and WDC Arena, each with unique challenges. 
                    The map acts as a hub, tracking progress and offering access to new levels as players advance.
                </p>
            </div>
            <div class="contents-image">
                <img src="assets/projects/02_DT/Screenshot/Screen2.png" alt="Progression and Locations" />
            </div>
        </div>
      </div>
    </div>
  </section>
  